# REACT_APP_API_URL=https://staging-api.eyebuddy.app
REACT_APP_API_URL=https://doctor-patient.eyebuddy.app
# REACT_APP_API_URL=https://beh-backend.onrender.com
REACT_APP_ASSET_URL=https://beh-app.s3.eu-north-1.amazonaws.com/